
<div class="masonry-item col-md-12">
    <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
        <li ng-repeat="notif in vm.all_notifs">
            <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                <div class="peer mR-15">
                    <img class="w-3r bdrs-50p" src="{{notif.img}}" alt="">
                </div>
                <div class="peer peer-greed">
                    <span>
                        <span class="fw-500">{{ notif.name }}</span>
                        <span class="c-grey-600">{{ notif.text }}</span>
                        </span>
                    </span>
                    <p class="m-0">
                        <small class="fsz-xs">7 mins ago</small>
                        <button class="btn btn-danger" ng-click="vm.deleteNotif(notif._id)">Delete</button>
                    </p>
                </div>
            </a>
        </li>        
    </ul>
</div>